<div class="banner-slider has-nav">
    <div class="banner-slider__prev"><i class="fa fa-angle-left"></i></div>
    <div class="banner-slider__next"><i class="fa fa-angle-right"></i></div>
    <div class="banner-slider__container swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in Model.Hinh_GT_extra)
            {
                <div class="swiper-slide"><a class="banner-slider__frame" href="https://shop.vnptthanhhoa.vn/san-pham/sim-fclub"><img src="@item.Link_hinh_extra" alt="FClub tháng 7" /></a></div>
            }

        </div>
    </div>
</div>   <div class="cart-slider has-nav">
    <div class="cart-slider">
        <div class="cart-slider__prev"><i class="fa fa-angle-left"></i></div>
        <div class="cart-slider__next"><i class="fa fa-angle-right"></i></div>
        <div class="cart-slider__container swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Hinh_GT_MAIN)
                {

                    <div class="swiper-slide"><a class="cart-slider__frame" href="@Url.Action("Index", "Home")"><img src="@item.Link_hinh_mani" alt="Gói S" /></a></div>
                }

            </div>
        </div>
    </div>
</div>
