
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/master_layout.cshtml";
    var danhmuc_idx = (List<Web_mvc.DB.LoaiDanhMuc>)ViewBag.loaidanhmuc_index;

}
@model Web_mvc.Models.Custom_index
<div class="page__content">
    <h1 style="display:none;">  VNPT Thanh Hóa</h1>
    <h2 style="display:none;">  VNPT Thanh Hóa</h2>
    <div class="bg-light pt-10 border-bottom">
        <div class="container">
            <style>
                .popup_close-btn {
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    line-height: 2.5rem;
                    height: 1.875rem;
                    width: 1.875rem;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -moz-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    position: absolute;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    background-color: #5a5a5a;
                    top: -.625rem;
                    right: -.625rem;
                    border-radius: 1.25rem;
                    border: 3px solid #fff;
                }

                    .popup_close-btn .shopee-svg-icon {
                        font-size: .75rem;
                        color: #fff;
                    }

                .shopee-svg-icon {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    fill: currentColor;
                    position: relative;
                }
            </style>
            <div id="modalAds" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div data-dismiss="modal" class="popup_close-btn">
                            <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon "><path d="m10.7 9.2-3.8-3.8 3.8-3.7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-3.8 3.7-3.8-3.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3.8 3.7-3.8 3.8c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l3.8-3.8 3.8 3.8c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4z"></path></svg>
                        </div>

                        <div class="banner-popup-container">
                            <a href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-moi" class="popup-banner" target="_blank">
                                <img class="popup-banner-img" src='https://shop.vnptthanhhoa.vn/image/0/0/U1ZLJERxoLc1AGTx4A6biwOQ1pXQPdQYac7T7HyT.png'>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @RenderPage("img_banner.cshtml")
        <section class="section js-cat-section" data-cat-index="1">
            @foreach (var item_ldm in Model.LoaiDanhMuc_index)
            {

                <div class="section__header">
                    <h2 class="section__title">@item_ldm.TenLoaiDanhMuc</h2>
                    <div class="section__nav">
                        @foreach (var item_dmht in danhmuc_idx.Where(x=>x.id_cha == item_ldm.MaLoaiDanhMuc))
                        {
                            @Html.ActionLink((string)item_dmht.TenLoaiDanhMuc, "Main", "index", null, new { @class = "section__nav-item" })
                        }
                    </div>
                    @Html.ActionLink("Xem tất cả", "Main", "index", null, new { @class = "section__link" })

                </div>
                <div class="pd-grid">
                    @{Html.RenderAction("Show_danhmuc", "Main", new { id = item_ldm.MaLoaiDanhMuc }); }           
                </div>
            }
        </section>
        
            <section class="section-2 mb-50">
                <h2 class="section-2__title">Các Sản Phẩm Nổi Bật</h2>
                <div class="partner-slider">
                    <div class="partner-slider__prev"><i class="fa fa-angle-left"></i></div>
                    <div class="partner-slider__next"><i class="fa fa-angle-right"></i></div>
                    <div class="partner-slider__container swiper-container">
                        <div class="swiper-wrapper">

                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

