
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta name="google-site-verification" content="tmjiAVrY9SRBv54xj9EZNFhb6CQn1B_jOmCKVjHAtOo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache">-->
    <link rel="canonical" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-moi" />
    <meta http-equiv='cache-control' content='no-cache'>

    <!-- SEO -->
    <meta name="description" content="Shop VNPT Thanh Hoá">
    <meta name="title" content="Shop VNPT Thanh Hoá">
    <meta name="keywords" content="thương mại điện tử, sản phẩm cntt, tp hồ chí minh, hcm, phần mềm, công nghệ thông tin, ict,">
    <!-- end SEO -->
    <!-- tag share facebook -->
    <meta property="og:description" content="Shop VNPT Thanh Hoá">
    <meta property="og:title" content="HomeTV mới">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="Shop VNPT Thanh Hoá">
    <meta property="og:url" content="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-moi" />
    <meta property="og:type" content="article" />
    <!-- end tag facebook -->
    <!-- CSRF Token -->
    <meta name="csrf-token" content="Vmq7RZEDQ7k355U8Onz8IzGS3UeFeyaREVz31uZb">
    <title>Shop VNPT Thanh Hoá</title>
    <!-- <title>HomeTV mới
    - Kết nối cung cầu nông sản, thực phẩm an toàn</title> -->
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <link rel="manifest" href="https://shop.vnptthanhhoa.vn/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://shop.vnptthanhhoa.vn/css/images/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- Bootstrap 3.3.7 -->
    <!-- <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/bower_components/font-awesome/css/font-awesome.min.css"> -->
    <!-- Select2 -->
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/plugins/toastr/toastr.min.css">

    <link href="https://shop.vnptthanhhoa.vn/css/datatable/jquery.dataTables.min.css" rel="stylesheet">
    <!-- vendor style-->
    <!-- <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/ecommerce4/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/ecommerce4/vendor/swiper/css/swiper.min.css" />
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/ecom2/vendor/slick-carousel/slick.min.css" /> -->
    <!-- custom style-->
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/ecommerce4/css/app.css" />
    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/ecommerce4/css/libs.css" />
    <link href="https://shop.vnptthanhhoa.vn/css/bootstrap-rating.css" rel="stylesheet">

    <link rel="stylesheet" href="https://shop.vnptthanhhoa.vn/bower_components/circle-indicator-spinner/jquery-spinner.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <!-- Stack styles : Push style here -->
</head>

<body class="home-page">
    <div class="page" id="spinner">
        <header class="header">
            <style>
    .twitter-typeahead {
        width: 90% !important;
        float: left;
        border-right: 1px solid #eee;
    }

    .pac-card {
        width: 36%;
        float: left;
        position: absolute;
        left: 50%;
        top: 0;
    }

    .numNoty {
        padding: 2px 3px;
        position: absolute;
        top: 2px;
        margin-left: 12px;
        background-color: red !important;
    }

                @@"menu menu-root"media(max-width: 768px) {
                    .numNoty {
                        top: -5px;
                    }
                }
            </style>
            <!-- Đăt chung để gọi hàm script logout cho nhiều vị trí -->
            <form id="logout-form" action="https://shop.vnptthanhhoa.vn/logout" method="post" style="display: none;"><input type="hidden" name="_token" value="Vmq7RZEDQ7k355U8Onz8IzGS3UeFeyaREVz31uZb"></form>

            <div class="header__wrapper">
                <div class="container">
                    <div class="header__inner">
                        <a class="logo" href="https://shop.vnptthanhhoa.vn"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/logo.png" alt="" /></a>
                        <div class="header__elements">
                            <a class="h-promotion" href="#!"><i class="fa fa-fw fa-gift"></i><span>Ưu đãi hôm nay</span></a>
                            <a class="h-contact" href="tel:0847136136"> <i class="fa fa-fw fa-phone"></i><strong>0847.136.136</strong><span>HOTLINE</span></a>
                            <button class="navbar-toggle navbar-toggle--white d-xl-none js-navbar-toggle ml-3"><span></span><span></span><span></span></button>
                        </div>
                    </div>

                </div>
            </div>
            <nav class="navigation js-scroll-fixed">
                <div class="navigation__wrapper">
                    <div class="container">
                        <div class="navigation__inner">
                            <form class="search">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Bạn cần tìm kiếm sản phẩm gì?" />
                                    <div class="input-group-append">
                                        <button class="input-group-text" onclick="search();"><i class="fa fa-search"></i><span>Tìm kiếm</span></button>
                                    </div>
                                </div>
                            </form>
                            <button class="navbar-toggle navbar-toggle--white d-xl-none js-navbar-toggle ml-3"><span></span><span></span><span></span></button>
                            <section class="navbar js-navbar">
                                <div class="navbar__backdrop js-navbar-toggle"></div>
                                <div class="navbar__wrapper">
                                    <div class="navbar__header">
                                        <a class="logo" href="https://shop.vnptthanhhoa.vn"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/logo.png" alt="" /></a>
                                        <button class="navbar-toggle js-navbar-toggle ml-auto"><span></span><span></span><span></span></button>
                                    </div>
                                    <div class="navbar__body">
                                        <ul class="menu menu-nav">
                                            <!--<ul class="dropdown-menu" data-widget="tree">-->

                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnpt.vn/ctv/link/hrNc0wsT" target="_blank">
                                                    <i class='fa '></i><span>Chọn Sim Số</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnpt.vn/ctv/link/EAqWagKl" target="_blank">
                                                    <i class='fa '></i><span>Sim số đẹp</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnpt.vn/ctv/link/hrNc0wsT" target="_blank">
                                                    <i class='fa '></i><span>Nạp thẻ</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="http://sohuong.vinaphone.com.vn/" target="_blank">
                                                    <i class='fa '></i><span>Chuyển mạng giữ số</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://sme.shop.vnpt.vn" target="_blank">
                                                    <i class='fa '></i><span>Doanh Nghiệp</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/hoadon">
                                                    <i class='fa '></i><span>Tra cứu hoá đơn</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-tin-tuc">
                                                    <i class='fa '></i><span>Tin tức</span>
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/ho-tro">
                                                    <i class='fa '></i><span>Hỗ Trợ</span>
                                                </a>
                                            </li>

                                            <!--</ul>-->


                                        </ul>
                                        <div class="pd-menu">
                                            <div class="pd-menu__toggle"><img class="mr-3" src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-grid-white.png" alt="" />Danh mục sản phẩm</div>
                                            <ul class="menu menu-root">
                                                <li class="menu-item menu-item-mega menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/di-dong"> DI ĐỘNG</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                    <div class="menu-mega">
                                                        <ul class="menu menu-sub menu-sub-2">
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/chon-sim-so">Chọn Sim Số</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-cuoc-di-dong">Gói Trả trước</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                                <ul class="menu menu-sub menu-sub-2">
                                                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-fhappy">Gói FHAPPY</a></li>
                                                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-fclub">Gói FCLUB</a></li>
                                                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-s">Gói S</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/sim-kem-goi">Sim Kèm Gói</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-tra-sau">Gói Trả sau</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="menu-item menu-item-mega menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/internet-truyenhinh"> INTERNET-TRUYỀN HÌNH</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                    <div class="menu-mega">
                                                        <ul class="menu menu-sub menu-sub-2">
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/internet-fibervnn">Internet Cáp Quang</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/combo-hometv-on">Home TV</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                                <ul class="menu menu-sub menu-sub-2">
                                                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-moi">HomeTV mới</a></li>
                                                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-online">HomeTV Online</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/ung-dung-mytv">Truyền hình MyTV</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/home-combo">Home Combo</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="menu-item menu-item-mega menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/dich-vu-cntt"> DỊCH VỤ CNTT</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                    <div class="menu-mega">
                                                        <ul class="menu menu-sub menu-sub-2">
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-tich-hop-sme">Gói tích hợp SME</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/chu-ky-so-vnpt-ca">Chữ ký số VNPT-CA</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/xac-thuc-hang-hoa-vnpt-check">Xác thực hàng hóa - VNPT Check</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/quan-ly-nha-thuoc-vnpt-pharmacy">Quản lý nhà thuốc - VNPT Pharmacy</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hop-khong-giay-to-ecabinet">Kê khai BHXH trực tuyến - VNPT BHXH</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hoa-don-dien-tu">Hóa đơn điện tử</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/quan-ly-van-ban-dieu-hanh-ioffice">Quản lý văn bản điều hành - iOffice</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/phong-hop-khong-giay-to-ecabinet">Phòng họp không giấy tờ - eCabinet</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>
                                                            <li class="menu-item menu-item-group">
                                                                <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/truyen-hinh-hoi-nghi-vnpt-meeting">Truyền hình hội nghị VNPT - Meeting</a>
                                                                <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/dich-vu-gia-tri-gia-tang">DỊCH VỤ GIÁ TRỊ GIA TĂNG</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </nav>

        </header>
        <div class="page__content">
            <style>
                a {
                    cursor: pointer;
                }
            </style>
            <div class="page__content">
                <!-- main content-->
                <div class="container mb-30">
                    <!-- menu-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="link-unstyled" href="https://shop.vnptthanhhoa.vn">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Sản phẩm</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 mb-30 order-lg-1">
                            <!-- product banner-->
                            <div class="pd-banner">
                                <img class="pd-banner__img" src="https://shop.vnptthanhhoa.vn/ecommerce4/images/banner-product.jpg" alt="">
                                <h1 class="pd-banner__title">SẢN PHẨM MỚI</h1>
                            </div>
                            <!-- product filter-->
                            <div class="pd-filter">
                                <div class="pd-filter__btn"><i class="fa fa-list"></i></div>
                                <div class="pd-filter__sort">
                                    <select class="custom-select">
                                        <option>Sắp xếp</option>
                                        <option>Sắp xếp</option>
                                        <option>Sắp xếp</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pd-grid-2 mb-30">
                                <div class="product">
                                    <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/hometv-1">
                                        <img src="https://shop.vnptthanhhoa.vn/image/300/300/0oh2e69taFkP3UriqQKmMka7LbWX4KR6KqCBD9XB.jpg" alt="" />
                                    </a>
                                    <div class="product__body">
                                        <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/hometv-1">HomeTV 1</a></h3>
                                        <div class="product__price">
                                            140.000 ₫
                                            <span>Giảm 20%</span>
                                            <del>175.000 ₫</del>
                                        </div>


                                    </div>
                                </div>
                                <div class="product">
                                    <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/hometv-2">
                                        <img src="https://shop.vnptthanhhoa.vn/image/300/300/bEiWIjuVxBpA8XWQGkoBrFPL0gHUgci1Vug2e6yB.jpg" alt="" />
                                    </a>
                                    <div class="product__body">
                                        <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/hometv-2">HomeTV 2</a></h3>
                                        <div class="product__price">
                                            152.000 ₫
                                            <span>Giảm 20%</span>
                                            <del>190.000 ₫</del>
                                        </div>


                                    </div>
                                </div>
                                <div class="product">
                                    <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/hometv-super-3-trang-bi-dau-android-thong-minh-va-01-wifi-mesh">
                                        <img src="https://shop.vnptthanhhoa.vn/image/300/300/uIRxQLRTSLfHfEopbV4Jl3I1nisXMPMKRD5JWwdi.jpg" alt="" />
                                    </a>
                                    <div class="product__body">
                                        <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/hometv-super-3-trang-bi-dau-android-thong-minh-va-01-wifi-mesh">HomeTV Super 3 - Trang bị đầu thông minh Android và 01 Wifi Mesh</a></h3>
                                        <div class="product__price">
                                            204.000 ₫
                                            <span>Giảm 20%</span>
                                            <del>255.000 ₫</del>
                                        </div>


                                    </div>
                                </div>
                                <div class="product">
                                    <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/hometv-4-super">
                                        <img src="https://shop.vnptthanhhoa.vn/image/300/300/xMOILi8wWBddOKsbFq2KsmNwlCBne3liA6rL8bkh.jpg" alt="" />
                                    </a>
                                    <div class="product__body">
                                        <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/hometv-4-super">HomeTV 4 Super - Trang bị đầu thông minh Android và 02 Wifi Mesh</a></h3>
                                        <div class="product__price">
                                            232.000 ₫
                                            <span>Giảm 20%</span>
                                            <del>290.000 ₫</del>
                                        </div>


                                    </div>
                                </div>
                                <div class="product">
                                    <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/hometv-5-super-trang-bi-dau-thong-minh-android-va-03-wifi-mesh">
                                        <img src="https://shop.vnptthanhhoa.vn/image/300/300/whMNO1VbhvzvcyvES36YRH1GE2z1666HKsy2JpU6.jpg" alt="" />
                                    </a>
                                    <div class="product__body">
                                        <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/hometv-5-super-trang-bi-dau-thong-minh-android-va-03-wifi-mesh">HomeTV 5 Super - Trang bị đầu thông minh Android và 03 Wifi Mesh</a></h3>
                                        <div class="product__price">
                                            272.000 ₫
                                            <span>Giảm 20%</span>
                                            <del>340.000 ₫</del>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <nav class="d-flex justify-content-center">



                            </nav>
                        </div>
                        <div class="col-xl-3 col-lg-4 mb-30">
                            <section class="aside">
                                <h1 class="aside__title"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-grid-white.png" alt="">DANH MỤC SẢN PHẨM</h1>
                                <ul class="menu menu-root">
                                    <li class="menu-item menu-item-mega menu-item-group">
                                        <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/di-dong"> DI ĐỘNG</a>
                                        <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                        <div class="menu-mega">
                                            <ul class="menu menu-sub menu-sub-2">
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/chon-sim-so">Chọn Sim Số</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-cuoc-di-dong">Gói Trả trước</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                    <ul class="menu menu-sub menu-sub-2">
                                                        <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-fhappy">Gói FHAPPY</a></li>
                                                        <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-fclub">Gói FCLUB</a></li>
                                                        <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-s">Gói S</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/sim-kem-goi">Sim Kèm Gói</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-tra-sau">Gói Trả sau</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>


                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-item menu-item-mega menu-item-group">
                                        <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/internet-truyenhinh"> INTERNET-TRUYỀN HÌNH</a>
                                        <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                        <div class="menu-mega">
                                            <ul class="menu menu-sub menu-sub-2">
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/internet-fibervnn">Internet Cáp Quang</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/combo-hometv-on">Home TV</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                    <ul class="menu menu-sub menu-sub-2">
                                                        <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-moi">HomeTV mới</a></li>
                                                        <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hometv-online">HomeTV Online</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/ung-dung-mytv">Truyền hình MyTV</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/home-combo">Home Combo</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>


                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-item menu-item-mega menu-item-group">
                                        <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/dich-vu-cntt"> DỊCH VỤ CNTT</a>
                                        <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                        <div class="menu-mega">
                                            <ul class="menu menu-sub menu-sub-2">
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/goi-tich-hop-sme">Gói tích hợp SME</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/chu-ky-so-vnpt-ca">Chữ ký số VNPT-CA</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/xac-thuc-hang-hoa-vnpt-check">Xác thực hàng hóa - VNPT Check</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/quan-ly-nha-thuoc-vnpt-pharmacy">Quản lý nhà thuốc - VNPT Pharmacy</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hop-khong-giay-to-ecabinet">Kê khai BHXH trực tuyến - VNPT BHXH</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/hoa-don-dien-tu">Hóa đơn điện tử</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/quan-ly-van-ban-dieu-hanh-ioffice">Quản lý văn bản điều hành - iOffice</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/phong-hop-khong-giay-to-ecabinet">Phòng họp không giấy tờ - eCabinet</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>
                                                <li class="menu-item menu-item-group">
                                                    <a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/truyen-hinh-hoi-nghi-vnpt-meeting">Truyền hình hội nghị VNPT - Meeting</a>
                                                    <span class="menu-toggle"><span><i class="fa fa-angle-right"></i></span></span>
                                                </li>


                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-item"><a class="menu-link" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham/dich-vu-gia-tri-gia-tang">DỊCH VỤ GIÁ TRỊ GIA TĂNG</a></li>
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <!-- footer-->
            <section class="follow">
                <div class="container">
                    <div class="follow__inner">
                        <h3 class="follow__label">Đăng ký nhận tin</h3>
                        <form class="follow__form">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Nhập email của bạn" />
                                <div class="input-group-append">
                                    <button class="input-group-text"><i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                        <nav class="social"><a class="social__item" href="#!"><i class="fa fa-fw fa-facebook"></i></a><a class="social__item" href="#!"><i class="fa fa-fw fa-twitter"></i></a><a class="social__item" href="#!"><i class="fa fa-fw fa-google-plus"></i></a><a class="social__item" href="#!"><i class="fa fa-fw fa-instagram"></i></a><a class="social__item" href="#!"><i class="fa fa-fw fa-youtube"></i></a></nav>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="footer__grid">
                        <div class="footer__col">
                            <div class="footer__title">TRUNG TÂM KINH DOANH VNPT - THANH HÓA</div>
                            <div class="footer__title">CHI NHÁNH TỔNG CÔNG TY DỊCH VỤ VIỄN THÔNG</div>
                            <div class="footer__content">
                                <div>Địa chỉ trụ sở: 26A Đại lộ Lê Lợi, Phường Điện Biên, Thành phố Thanh Hóa, Thanh Hóa</div>
                                <div>Hotline: <a href="#"> 0847.136.136</a></div>
                                <div>Email: <a href="#">thanhhoa@vnpt.vn</a></div>
                                <div>Mã số doanh nghiệp: 0106869738-020 do Sở Kế hoạch và Đầu tư Thanh Hóa cấp ngày 6/10/2015</div>
                                <!-- <div>Thời gian làm việc: 8h30 - 18h</div> -->
                            </div>
                        </div>
                        <div class="footer__col">
                            <div class="footer__title">VỀ CHÚNG TÔI</div>
                            <ul class="f-menu">
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Thư ngỏ</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Liên hệ</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Tuyển dụng</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Hợp Tác Kinh Doanh</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Bản đồ</a></li>
                            </ul>
                        </div>
                        <div class="footer__col">
                            <div class="footer__title">HỖ TRỢ - CHÍNH SÁCH</div>
                            <ul class="f-menu">
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Phương thức thanh toán</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Hướng dẫn mua hàng online</a></li>
                                <li class="f-menu__item"><a class="f-menu__link" href="#!">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                        <div class="footer__col">

                            <iframe style="margin-top: 10px;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvnpt.thanhhoa.7&tabs=272&width=340&height=100&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="360" height="100" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            <div class="zalo-follow-button" data-oaid="4202790662105619330" data-cover="yes" data-article="0" data-width="360" data-height="150"></div>
                            <!-- <div class="footer__title"><a href="https://www.facebook.com/vnpt.thanhhoa.7"> FACEBOOK VNPT THANH HÓA</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <div class="container">Copyright © 2021 vnptthanhhoa.vn | © Bản quyền thuộc về vnptthanhhoa.vn</div>
                </div>
            </footer>
            <!-- modals + sticky widgets-->
            <button class="btn btn-movetop js-scroll-to" type="button" data-target="body"><i class="fa fa-arrow-up"></i></button>
            <div class="sticky-btns">

                <a class="phone-ring" href="tel:0847136136">
                    <span class="phone-ring__icon"><i class="fa fa-phone"></i></span>
                    <span class="phone-ring__text">0847.136.136</span>
                </a>
            </div>

            <div class="zalo-chat-widget " data-oaid="4202790662105619330" data-welcome-message="Chào Bạn!! Cảm ơn bạn đã quan tâm tới VNPT Thanh Hóa!!" data-autopopup="60" data-width="350" data-height="350"></div>
            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root" class="fb-customerchat"></div>
            <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v10.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
            </script>

            <!-- Your Chat Plugin code -->
            <div class="fb-customerchat"
                 data-width="10" data-height="10"
                 attribution="setup_tool"
                 page_id="459931804079176"
                 logged_in_greeting="Chào Bạn! Cám ơn bạn đã quan tâm đến VNPT Thanh Hóa"
                 logged_out_greeting="Chào Bạn! Cám ơn bạn đã quan tâm đến VNPT Thanh Hóa">
            </div>
        </footer>
    </div>
    <div id="fb-root"></div>
    <!-- javascript library-->
    <!-- vendor script-->
    <script src="https://shop.vnptthanhhoa.vn/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/vendor/popper/popper.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/vendor/swiper/js/swiper.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/vendor/slick-carousel/slick.min.js"></script>
    <!-- <script src="https://shop.vnptthanhhoa.vn/js/bootstrap.min.js" type="text/javascript"></script> -->
    <!-- Select2 -->
    <script src="https://shop.vnptthanhhoa.vn/bower_components/select2/dist/js/select2.full.min.js"></script>

    <!-- Toastr -->
    <script src="https://shop.vnptthanhhoa.vn/plugins/toastr/toastr.min.js"></script>
    <!-- Block UI -->
    <!-- <script src="https://shop.vnptthanhhoa.vn/plugins/blockUI/jquery.blockUI.min.js"></script> -->
    <!-- custom script-->
    <script src="https://shop.vnptthanhhoa.vn/ecommerce4/js/libs.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/ecommerce4/vendor/jquery-zoom/jquery.zoom.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/ecommerce4/js/app.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/js/web/layouts-web.js" type="text/javascript" charset="utf-8"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
    <script src="https://shop.vnptthanhhoa.vn/js/typeahead.bundle.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/js/bootstrap-rating.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtm_IVH680qlXf1N7sxKSrkLMM93KCl3c&libraries=places"></script>

    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <!-- Datatable -->
    <script src="https://shop.vnptthanhhoa.vn/bower_components/circle-indicator-spinner/jquery-spinner.min.js"></script>
    <script src="https://shop.vnptthanhhoa.vn/vendor/datatable/jquery.dataTables.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!-- Stack script : Push scrip here -->
    <script>
    $(document).ready(function() {
        $("body").removeClass("home-page")
        // var size = urlParam('size');
        var sort = urlParam('sort');
        // if(urlParam('districts')!== null && urlParam('districts') !== 0) {
        //     var urlDistricts = decodeURIComponent(urlParam('districts'));
        //     var districts = urlDistricts.split(',');
        //     $.each(districts, function(index, value) {
        //         $("#D"+value+"").attr('checked', true);
        //     });
        // }
        // if(urlParam('level')!== null && urlParam('level') !== 0) {
        //     var urlLevels = decodeURIComponent(urlParam('level'));
        //     var levels = urlLevels.split(',');
        //     $.each(levels, function( index, value) {
        //         $("#T"+value+"").attr('checked', true);
        //     });
        // }
        // if(urlParam('certs')!== null && urlParam('certs') !== 0) {
        //     var urlLevels = decodeURIComponent(urlParam('certs'));
        //     var levels = urlLevels.split(',');
        //     $.each(levels, function( index, value) {
        //         $("#C"+value+"").attr('checked', true);
        //     });
        // }
        // $('#input-limit option[value='+size+'    ]').attr('selected','selected');
        $('#input-sort option[value=' + sort + '    ]').attr('selected', 'selected');
    });

    function setLocation(url) {
        var sUrlParams = "";
        // if($('#input-limit'))
        //     sUrlParams +="&size="+ $('#input-limit').val();
        //var size = $('#input-limit').val();
        if ($('#input-sort'))
            sUrlParams += "&sort=" + $('#input-sort').val();
        //    var districts = new Array();
        //    $.each($("input[name='filter_districts[]']:checked"), function() {
        //        districts.push($(this).val());
        //    });
        // var levels = new Array();
        // $.each($("input[name='filter_category[]']:checked"), function() {
        //   levels.push($(this).val());
        // });
        // var certs = new Array();
        // $.each($("input[name='filter_cert[]']:checked"), function() {
        //     certs.push($(this).val());
        // });
        var curentPage = urlParam('page');
        //        if(curentPage === null || curentPage === 0)
        //            curentPage=1;
        // var curentPage = {
        //     {
        //         $ProductCate - > currentPage()
        //     }
        // };
        // alert(url.value);
        if (url == null) {
            url = window.location.href;
        }
        window.location.href = url.replace(/[\?#].*|$/,
            "?page=" + curentPage + sUrlParams);
    }

    function loadData() {
        var limit = $('#input-limit').val();
        var sort = $('#input-sort').val();
        var form_data = new FormData();
        form_data.append('id', 1);
        $.ajax({
            url: '',
            type: 'GET',
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            },
            data: {
                sort: sort,
                limit: limit
            },
            success: function(data1) {
                // console.log(data1.html);
                $('.posts').html(data1.html);
            },
            error: function(msg) {

            }
        });
    }
    </script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtm_IVH680qlXf1N7sxKSrkLMM93KCl3c&sensor=false&libraries=places&callback=initialize" async defer>


    </script> -->
    <script>
    $('#get-location').click(function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position) {
            var latitude = position.coords.latitude.toFixed(6);
            var longitude = position.coords.longitude.toFixed(6);
            $('#lat').val(latitude);
            $('#lng').val(longitude);
            var geocoder = new google.maps.Geocoder;
            geocodeLatLng(geocoder, latitude, longitude);
        }

        function geocodeLatLng(geocoder, latitude, longitude) {
            var latlng = {
                lat: parseFloat(latitude),
                lng: parseFloat(longitude)
            };
            geocoder.geocode({
                'location': latlng
            }, function(results, status) {
                console.log(results);
                $('#pac-input').val(results[4].address_components[0].long_name + ", " +
                    results[4].address_components[1].long_name + ", " +
                    results[4].address_components[2].long_name + ", " +
                    results[4].address_components[3].long_name);
            });
        }
    });
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    function initialize() {
        if ("" && "" == 'dia-diem') {
            //Bản đồ tìm kiếm
            initMap1();
        }
        if ("danh-muc-san-pham.show" == 'map.index') {
            //Bản đồ phân bố cơ sở
            initMap();
        }
        if ("danh-muc-san-pham.show" == 'dia-diem-kinh-doanh.index') {
            //Bản đồ cho địa điểm kinh doanh
            initMap3();
        } else {
            //Tìm vị trí hiện tại
            initMap2();
        }
    }

    function initMap2() {
        var map = new google.maps.Map(document.getElementById('mapId'), {
            center: {
                lat: -33.8688,
                lng: 151.2195
            },
            zoom: 13
        });
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo('bounds', map);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });
        autocomplete.addListener('place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
                $('#lat').val(place.geometry.location.lat());
                $('#lng').val(place.geometry.location.lng());
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17); // Why 17? Because it looks good.
                $('#lat').val(place.geometry.location.lat());
                $('#lng').val(place.geometry.location.lng());

            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
            infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.

    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
    function switchRoleAccess(toRole) {
        $.ajax({
            url: "https://shop.vnptthanhhoa.vn/switch-role-access",
            type: 'POST',
            data: {
                role: toRole
            },
            success: function(msg) {
                toastr.success("Bạn đã chuyển sang vai trò: " + (toRole == 'BUSINESS' ? 'Cơ sở SXKD' : 'Cá nhân'));
                location.reload();
            },
            dataType: "text"
        });
    }

    function search() {
        var text = $("#text-search").val();
        if (text.length > 0) {
            var url = "https://shop.vnptthanhhoa.vn/search" + "?text=" + text + "&type=san-pham&choose=lien-quan";
            var lat = $('#lat').val();
            var long = $('#lng').val();
            if (lat.length > 0 && long.length > 0 && lat > 0 && long > 0) {
                url = "https://shop.vnptthanhhoa.vn/search" + "?text=" + text + "&type=dia-diem&choose=lien-quan&lat=" + lat + "&long=" + long;
            }
            window.location.href = url;
        }

        // Check for Geolocation API permissions
        /*navigator.permissions.query({
            name: 'geolocation'
        })
        .then(function(permissionStatus) {
            console.log('geolocation permission state is ', permissionStatus.state);
            if (permissionStatus.state == 'granted') {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var text = jQuery("#text-search").val();
                    if (text && text != '') {
                        var lat = $('#lat').val();
                        var lng = $('#lng').val();
                        var url = "https://shop.vnptthanhhoa.vn/search" + "?text=" + text + "&type=dia-diem&choose=lien-quan&lat=" + lat + "&long=" + lng;
                        window.location.href = url;
                    } else {
                        return;
                    }
                });
            }
            else {
                var text = jQuery("#text-search").val();
                if (text && text != '') {
                    var url = "https://shop.vnptthanhhoa.vn/search" + "?text=" + text + "&type=san-pham&choose=lien-quan";
                    window.location.href = url;
                } else {
                    return;
                }
            }
        });*/
    }
    $('#text-search').keypress(function(e) {
        var key = e.which;
        if (key == 13) // the enter key code
        {
            search();
        }
    });
    $(document).ready(function() {
        var bloodhound = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: 'https://shop.vnptthanhhoa.vn/find?q=%QUERY%',
                wildcard: '%QUERY%'
            },
        });
        $('#text-search').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'users',
            source: bloodhound,
            display: function(data) {
                return data.name //Input value to be set when you select a suggestion.
            },
            templates: {
                empty: [
                    //                    '<div class="list-group search-results-dropdown"><div class="list-group-item">Không có gợi ý ...</div></div>'
                ],
                header: [
                    '<div class="list-group search-results-dropdown">'
                ],
                suggestion: function(data) {
                    return '<div style="font-weight:normal; margin-top:-10px ! important;" class="list-group-item">' + data.name + '</div></div>'
                }
            }
        });
    });
    </script>

    <!-- Scripts processes -->
    <script type="text/javascript">
        var url = "https://shop.vnptthanhhoa.vn";
        var userId = -1;
        var urlAds = "https://shop.vnptthanhhoa.vn/ket-noi";
        var urlNoti = "https://shop.vnptthanhhoa.vn/user/notifications/showNotification";
        //        (function(d, s, id) {
        //        var js, fjs = d.getElementsByTagName(s)[0];
        //        if (d.getElementById(id)) return;
        //        js = d.createElement(s); js.id = id;
        //        js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0";
        //        fjs.parentNode.insertBefore(js, fjs);
        //      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="/js/app.js"></script>
    <script src="/js/notifications.js"></script>
</body>

</html>