@{
    ViewBag.Title = "Home Page";
}

@model List<Web_mvc.DB.LoaiDanhMuc>
@ViewBag.abc
@foreach (var item in Model)
{
    <p>mã danh mục: @item.MaLoaiDanhMuc </p>
    <p>Tên danh mục: @item.TenLoaiDanhMuc </p>
    <br />
}